<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    td, th {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 10pt;
    }

    td.win {
        background-color: #a0ffa0;
    }

    td.loss {
        background-color: #ffa0a0;
    }

    td.tie {
        background-color: #f0f0f0;
    }

    h1 {
        font-family: verdana, arial, helvetica, sans-serif;
    }

    pre {
        font-family: courier;
    }

    .tnmt {
        font-size: small;
    }
</style>
<title>Situation</title>

<script language="javascript">
    <!--
    var state = 'none';

    function showhide(layer_ref) {
        if (state == 'block') {
            state = 'none';
        } else {
            state = 'block';
        }
        if (document.all) { //IS IE 4 or 5 (or 6 beta)
            eval("document.all." + layer_ref + ".style.display = state");
        }
        if (document.layers) { //IS NETSCAPE 4 or below
            document.layers[layer_ref].display = state;
        }
        if (document.getElementById && !document.all) {
            hza = document.getElementById(layer_ref);
            hza.style.display = state;
        }
    }

    //-->
</script>

<body>
<!--INSERT_BODY_HERE-->
</body>
</html>